services:
 backend:
   build: ./backend
   ports:
     - "8000:8000"
   networks: 
     - echo-room-network

    
 frontend:  
   build: ./frontend
   ports:
     - "5173:5173"
   networks:
     - echo-room-network


networks:
  echo-room-network:
    driver: bridge
